.view-content .inline-title {
  font-weight: bold;
  font-size: 2.5rem;
  padding: 5px;

  border-bottom: 2px solid;
  border-color: var(--inline-title-color);
}

.view-content .inline-title::after {
  white-space: pre;
}

.cm-header-1 {}
